@import "mixins";
@import "reset";

// PARTIALS

@import "vars";
@import "base";
@import "z-index";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,700');

// COMPONENTS

h1.title {
    display: inline-block;
    font-size: 90px;
    line-height: 70px;
    font-weight: bold;
    letter-spacing: -7px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}

.single-block {
    margin-top: 60px;
}

.wmap-scatter {
    // mix-blend-mode: screen
}

// SECTIONS
