@import "mixins";
@import "reset";

// PARTIALS

@import "vars";
@import "base";
@import "z-index";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,700');

// COMPONENTS

h1.title {
    font-size: 90px;
    line-height: 70px;
    font-weight: bold;
    letter-spacing: -10px;
}

// SECTIONS
